{% extends 'chequeos/base.html' %}
{% load form_filters %}

{% block title %}{{ form.instance.pk|yesno:"Editar Chequeo,Nuevo Chequeo" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{{ form.instance.pk|yesno:"Editar Chequeo,Nuevo Chequeo" }}</h2>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="row">
            <div class="mb-3 col-md-6">
                <label>Usuario</label>
                {{ form.Id_Usuario.label_tag }}
                {{ form.Id_Usuario|add_class:"form-select" }}
            </div>
            <div class="mb-3 col-md-6">
                <label>Equipo</label>
                {{ form.Id_Equipo.label_tag }}
                {{ form.Id_Equipo|add_class:"form-select" }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.Che_Fecha_Chequeo.label_tag }}
            {{ form.Che_Fecha_Chequeo|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            {{ form.Che_Observaciones.label_tag }}
            {{ form.Che_Observaciones|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.software_instalado.label }}</label><br>
                {% for checkbox in form.software_instalado %}
        <div class="form-check form-check-inline">
            {{ checkbox }} {{ checkbox.choice_label }}
        </div>
            {% empty %}
        <p class="text-muted">No hay software registrado.</p>
            {% endfor %}
        </div>


        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'chequeo_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
