{% extends 'chequeos/base.html' %}

{% block title %}Eliminar Equipo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Eliminar Equipo</h2>
    <p>¿Estás segura de que deseas eliminar el equipo <strong>{{ equipo.Equ_Placa_Serie }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'equipo_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
